[<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Formation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Formation</li>
        <li class="breadcrumb-item active">Add</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add new Formation</h5>
        <div >
           <!-- Using Items Input -->
           <h5>Select Employees</h5>
           <ng-select
           [items]="EmpData$"
           bindLabel="initial"

           appendTo="body"
           [multiple]="true"
           [(ngModel)]="selected" required>
         </ng-select>

          <form [formGroup]="Competences" id="msform" action="submit">
            <fieldset>

                    <h2 class="fs-title">Competences</h2>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">Titre *</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="text"
                          formControlName="title" name="title"
                          id="title" placeholder="titre..." required>
                      </div>
                      <div *ngIf="Competences.controls['title'].invalid && (Competences.controls['title'].dirty || Competences.controls['title'].touched)" class="alert">
                        Please provide a title.
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">Description *</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="text"
                          formControlName="description" name="description"
                          id="description" placeholder="description..." required>
                      </div>
                      <div *ngIf="Competences.controls['description'].invalid &&
                        (Competences.controls['description'].dirty ||
                        Competences.controls['description'].touched)" class="alert">
                        Please provide a description.
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-3 col-form-label">periodique *</label>
                      <div class="col-sm-9" >

                        <div class="custom-control custom-radio
                          custom-control-inline" style="text-align: left;">
                          <input type="radio" class="custom-control-input"
                            formControlName="periodec" name="periodec"
                            id="periodec" value="true"
                            (change)="onChangeperiodique($event)" required style="width: inherit;margin-right: 10px">
                          <label class="custom-control-label" for="periodec">Oui</label>
                        </div>
                        <!-- Default inline 2-->
                        <div class="custom-control custom-radio
                          custom-control-inline" style="text-align: left;">
                          <input type="radio" class="custom-control-input"
                            formControlName="periodec" name="periodec"
                            id="periodec" value="false"
                            (change)="onChangeperiodique($event)" required style="width: inherit;margin-right: 10px">
                          <label class="custom-control-label" for="periodec">Non</label>
                        </div>

                      </div>
                    </div>

                    <div *ngIf="periodiq" class="row mb-3">
                      <label class="col-sm-2 col-form-label">date de
                        Renouvellement *</label>
                      <div class="col-sm-10"> <input class="form-control"
                          formControlName="dateRenouvellement" type="date"
                          name="dateRenouvellement" id="dateRenouvellement"
                          placeholder="date de Renouvellement..."
                          [required]="periodiq">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">formation File</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="file"
                          formControlName="formationFile" name="formationFile"
                          (change)="handleFileInputformationFile($event)"
                          id="formationFile" placeholder="formation File..."
                          required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">habilitation</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="text"
                          formControlName="habilitation" name="habilitation"
                          id="habilitation" placeholder="habilitation..."
                          required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">date Habilitation</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="date"
                          formControlName="dateHabilitation"
                          name="dateHabilitation"
                          id="dateHabilitation" placeholder="date
                          Habilitation..."
                          required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">date ReHabilitation</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="date"
                          formControlName="dateRenHabi" name="dateRenHabi"
                          id="dateRenHabi" placeholder="date ReHabilitation..."
                          required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">habilitation File</label>
                      <div class="col-sm-10"> <input class="form-control"
                          type="file"
                          (change)="handleFileInputhabilitationFile($event)"
                          formControlName="habilitationFile"
                          name="habilitationFile"
                          id="habilitationFile" placeholder="habilitation
                          File..."
                          required>
                      </div>
                    </div>
                    <div class="center">
                      <button (click)="saveformation()"
                        [disabled]="!Competences.valid"
                        type="submit" name="submit" class="submit">Submit</button>
                      <button type="reset" name="next" class="reset">reset</button>
                    </div>
                    <div class="row mb-3" *ngIf="isaddedfailed" class="alert
                      alert-danger" role="alert">
                      Adding Formation failed
                    </div>

                    <div class="row mb-3" *ngIf="submitted">
                      <h4>Formation was submitted successfully!</h4>
                    </div>

                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
