
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Formations </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Formations</li>
        <li class="breadcrumb-item active">List</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row mb-3" *ngIf="isdeletedfailed" class="alert alert-danger" role="alert">
      Deleting Formation failed: {{ errorMessage }}
    </div>

    <div class="row mb-3" *ngIf="deleted">
      <h4>Formation was Deleted successfully!</h4>
    </div>

    <div class="list row">

      <div class="col-md-6">
        <h4>Formation List</h4>

        <ul class="">


          <li
            class="list-group-item"
            *ngFor="let forma of formations; let i= index"
            [class.active]="i == currentIndex"
            (click)="setActiveForma(forma, i)">
            <div class="container">
              <div class="row ">
                <div class="col">
                  <span> {{forma.title}}</span>

                </div>
                <div class="col-md-auto">


                  <a routerLink="/edit-formation/{{forma.id}}"> <i
                      class="bi bi-file-diff-fill"></i><span>EDIT</span> </a>
                </div>
                <div class="col col-lg-2">
                   <i
                      class="bi bi-trash-fill"></i><span class="" (click)="deleteFormation(forma.id)">Delete</span>

                </div>
              </div>
            </div>
          </li>
        </ul>


      </div>
      <div class="col-md-6">
      <!--  <app-edit-formation
          [viewMode]="true"
          [currentformation]="currentformation"></app-edit-formation>-->
      </div>
    </div>
  </section>
</main>

