<table *ngIf="eaplist$.length==0" style="width:100%">
  <td><div class=" col-sm-9" class="alert
      alert-danger"
      role="alert">
      No Eap Available
    </div></td>
</table>
<table style="width:100%" *ngIf="eaplist$.length!=0">

  <tr *ngFor="let element of eaplist$;let ep as index">
    <td>
      <app-details-update-eap [element]="element"></app-details-update-eap>
  </td>
  </tr>

</table>

<table style="width:100%" *ngIf="addEap">
  <tr >
    <td>
    <app-deatils-add-eap [currentEmployee]="currentEmployee"></app-deatils-add-eap>
  </td>
  </tr>
</table>
<tr> <button  *ngIf="!addEap" (click)="addEap=true" class="add">add (+)</button>
  <button class="btn
  btn-danger"
  *ngIf="addEap" (click)="addEap=false">remove (-)</button>
</tr>

