<main id="main" class="main">

  <section>
    <!-- side bar employee -->
    <mat-toolbar class="mat-elevation-z8">
      <button mat-icon-button *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button> Edit {{page}}
    </mat-toolbar>
    <mat-sidenav-container style="background:white;">

      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8"
        style="box-shadow: none;visibility:
        visible;">

        <img class="avatar mat-elevation-z8" src="assets/img/profile-img.jpg" />
        <h4 class="name">{{currentEmployee$.firstName}}
          {{currentEmployee$.lastName}} </h4>
        <p class="designation">{{currentEmployee$.initial}}</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="openPage('Info')">
          <mat-icon>assignment_ind</mat-icon>
          <span>Info</span>
        </button>
        <button mat-button class="menu-button" (click)="openPage('Contrats')">
          <mat-icon>gavel</mat-icon>
          <span>Contrats</span>
        </button>
        <button mat-button class="menu-button" (click)="openPage('User')">
          <mat-icon>person</mat-icon>
          <span>User</span>
        </button>
        <button mat-button class="menu-button" (click)="openPage('Diploms')">
          <mat-icon>school</mat-icon>
          <span>Diploms</span>
        </button>
        <button mat-button class="menu-button" (click)="openPage('Formations')">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>Formations</span>
        </button>
        <button mat-button class="menu-button"
          (click)="openPage('Attribution')">
          <mat-icon>assignment</mat-icon>
          <span>Attributions</span>
        </button>
        <button mat-button class="menu-button"
          (click)="openPage('VisitMedical')">
          <mat-icon> local_hospital</mat-icon>
          <span>Visite Medicale</span>
        </button>
        <button mat-button class="menu-button" (click)="openPage('Eap')">
          <mat-icon> business</mat-icon>
          <span>Eap</span>
        </button>


      </mat-sidenav>
      <mat-sidenav-content>

        <div class="content mat-elevation-z8 ">
                  <!-- info generale interface -->

          <div *ngIf="page=='Info'">
            <div *ngIf="!currentEmployee$ || !currentEmployee$.serviceList[0] || currentEmployee$==undefined ">
              <div class="row mb-3" class="alert
                alert-danger"
                role="alert">
                Cannot acess Employee!
              </div>
            </div>
            <div *ngIf="currentEmployee$ && currentEmployee$.serviceList[0] && currentEmployee$!=undefined">
              <form id="msform">
                <h2 class="fs-title">Infos General </h2>

                <div class="row mb-3">
                  <label for="Nom" class="col-sm-3 col-form-label">Nom *</label>
                  <div class="col-sm-9"> <input type="text" class="form-control"
                      name="Nom" id="Nom" placeholder="Nom..."
                      [(ngModel)]="currentEmployee$.firstName"
                      required>
                  </div>

                </div>
                <div class="row mb-3">
                  <label for="Prenom" class="col-sm-3 col-form-label">Prenom *</label>
                  <div class="col-sm-9"> <input type="text" class="form-control"
                      name="Prenom" id="Prenom"
                      [(ngModel)]="currentEmployee$.lastName"
                      placeholder="Prenom..." required>
                  </div>

                </div>

                <div class="row mb-3">
                  <label for="DateNaissance" class="col-sm-3 col-form-label">Date
                    Naissance
                    *</label>
                  <div class="col-sm-9"> <input type="date" class="form-control"
                      name="DateNaissance" id="DateNaissance"
                      [value]="currentEmployee$.dateOfBirth"
                      [(ngModel)]="currentEmployee$.dateOfBirth "

                      required>
                  </div>

                </div>
                <div class="row mb-3">
                  <label for="Cin" class="col-sm-3 col-form-label">Cin *</label>
                  <div class="col-sm-9"> <input type="number"
                      class="form-control"
                      name="Cin" id="Cin" placeholder="Cin..."
                      [(ngModel)]="currentEmployee$.natioIdCard"
                      required>
                  </div>

                </div>
                <div class="row mb-3">
                  <legend class="col-sm-3 col-form-label ">Etat civil</legend>
                  <div class="col-sm-9">
                    <select class="form-select"
                      name="etatcivil" id="etatcivil"
                      aria-label="Default select example"
                      [(ngModel)]="currentEmployee$.civilState.id">
                      <option value="" disabled selected>Choisir de la liste</option>
                      <option *ngFor="let etatciv of etatcivil$ ; let i index"
                        [value]="etatciv.id" [selected]="currentEmployee$.civilState.id==etatciv.id">{{etatciv.state}}</option>
                    </select>
                  </div>
                </div>

                  <div class="row mb-3">
                    <legend class="col-sm-3 col-form-label ">type Personnel
                      *</legend>
                    <div class="col-sm-9">
                      <select class="form-select"
                        [(ngModel)]="currentEmployee$.typeOfStaff.id"
                        name="typePersonnel"
                        id="typePersonnel" aria-label="Default select
                        example"
                        required>
                        <option value="-1" disabled selected>Choisir de la
                          liste</option>
                        <option *ngFor="let typepers of typeperso$; let i=
                          index"
                          [value]="typepers.id" [selected]="currentEmployee$.typeOfStaff.id===typepers.id">{{typepers.job}}</option>
                      </select>
                    </div>

                  </div>
                  <div *ngIf="typePersonnel==2" class="row mb-3">
                    <legend class="col-form-label col-sm-3 pt-0">Mise a
                      disposition </legend>
                    <div class="col-sm-9">
                      <div class="form-check form-check-inline">
                        <div class="custom-control custom-radio
                          custom-control-inline">
                          <input type="radio" class="custom-control-input"
                            name="available" id="available"
                            value="true" [required]="typePersonnel==2">
                          <label class="custom-control-label"
                            for="defaultInline1">Oui</label>
                        </div>
                        <!-- Default inline 2-->
                        <div class="custom-control custom-radio
                          custom-control-inline">
                          <input type="radio" class="custom-control-input"
                            name="available" id="available"
                            value="false" [required]="typePersonnel==2">
                          <label class="custom-control-label"
                            for="defaultInline2">Non</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="typePersonnel==2" class="row mb-3">
                    <label class="col-sm-3 col-form-label">nom Societe</label>
                    <div class="col-sm-9"> <input [(ngModel)]="currentEmployee$.companyName" class="form-control"
                        type="text" name="nomSociete"
                        id="nomSociete"
                        [required]="typePersonnel==2">
                    </div>
                  </div>


                  <div class="row mb-3">
                    <legend class="col-sm-3 col-form-label ">type Processus *</legend>
                    <div class="col-sm-9" style="border-style: groove;">
                      <div>
                    <div class="custom-control custom-radio
                        custom-control-inline"
                        style="text-align: left;" *ngFor="let typproces of typprocesus$; let i=
                        index;">
                      <input  class="custom-control-input" type="checkbox" id="typproces.id" name="typproces.id" [value]="typproces.id" [checked]="checktypprocess(typproces.id)" style="width: inherit;margin-right: 10px">
                      <label class="custom-control-label" for="privilege.id">{{typproces.content}}</label>
                      </div>
                      </div>
                    </div>
                    </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">unite Technique *</label>
                    <div class="col-sm-9"> <select class="form-select"
                        name="uniteTechnique"
                        id="uniteTechnique" aria-label="Default select
                        example"
                        required
                        [(ngModel)]="currentEmployee$.serviceList[0].id">
                        <option value="-1" disabled selected>Choisir de la
                          liste</option>
                        <option *ngFor="let unitete of unitetech$; let i=
                          index"
                          [value]="unitete.id" [selected]="unitete.id==currentEmployee$.serviceList[0].id"> {{unitete.technicalTerm}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <legend class="col-sm-3 col-form-label ">Site *</legend>
                    <div class="col-sm-9">
                      <select class="form-select" [(ngModel)]="currentEmployee$.site.id"
                        name="sitetid"
                        id="site"
                        aria-label="Default select example"
                        required>
                        <option value="-1" disabled selected>Choisir de la
                          liste</option>
                        <option *ngFor="let sit of site$; let i= index"
                          [value]="sit.id" [selected]="sit.id==currentEmployee$.site.id">{{sit.siteName}}</option>
                      </select>
                    </div>
                  </div>

                <div class="text-center">
                  <button
                    type="submit"
                    class="submit"(click)="editEmp()">Update </button>
                </div>
              </form>
            </div>
          </div>
          <!-- info Contrats interface -->
          <div *ngIf="page=='Contrats'">
          <app-details-contrat [currentEmployee]="currentEmployee$"></app-details-contrat>
          </div>
          <!-- info de sécurité interface -->
          <div *ngIf="page=='User'">
           <app-details-user [currentEmployee]="currentEmployee$"></app-details-user>
          </div>
          <!-- info des Diplomes interface -->
          <div *ngIf="page=='Diploms'">

            <app-details-diplome [currentEmployee]="currentEmployee$"></app-details-diplome>
          </div>
          <!-- info des Formations interface -->

          <div *ngIf="page=='Formations'">
            <app-details-formation [currentEmployee]="currentEmployee$"></app-details-formation>
          </div>
          <!-- info des Attribution interface -->

          <div *ngIf="page=='Attribution'">
          <app-details-attribution [currentEmployee]="currentEmployee$"></app-details-attribution>
          </div>
          <!-- info des visite Medicales interface -->
          <div *ngIf="page=='VisitMedical'">
            <app-details-visit-med [currentEmployee]="currentEmployee$"></app-details-visit-med>
          </div>
          <!-- info des  Eap interface -->
          <div *ngIf="page=='Eap'">
           <app-details-eap [currentEmployee]="currentEmployee$"></app-details-eap>
          </div>
        </div>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </section>
</main>
