
table {
  width: 100%;
  background-color: #ffffff;
  color: black;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: black;

}
.mat-label{
  color: black;
}

td, th {
  width: 21%;
  color: black;
}

.mat-row:nth-child(n+1){
  background-color: #f5f5f5;
}
.mat-row:not(:nth-child(2n+1)){
  background-color:#ffffff;
}
mat-paginator{
  background-color:#365b85;
}
