<table *ngIf="medicalvisit$.length==0" style="width:100%">
  <td><div class=" col-sm-9" class="alert
      alert-danger"
      role="alert">
      No visite Medicales Available
    </div></td>
</table>
<table style="width:100%" *ngIf="medicalvisit$.length!=0">
  <tr *ngFor="let element of medicalvisit$;let medicv= index">
    <td>
      <div class="borderd">
      <label ><strong> Vsite de {{element.dateOfMv | date}}</strong></label>
      <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
      attr.data-target="#collapseExample{{medicv}}" aria-expanded="true" attr.aria-controls="collapseExample{{medicv}}"  >
        SHOW
      </button>
    </div>
      <div class="collapse " id="collapseExample{{medicv}}" >
          <app-details-update-visit-medicale [element]="element"></app-details-update-visit-medicale>
      </div>
    </td>
  </tr>
</table>

<table style="width:100%" *ngIf="addVisitMed">

  <tr>
    <td>
      <app-details-add-visit-medicale [currentEmployee]="currentEmployee"></app-details-add-visit-medicale>
    </td>
  </tr>

</table>
<tr> <button *ngIf="!addVisitMed" (click)="addVisitMed=true" class="add">add (+)</button>
  <button class="btn
  btn-danger"
  *ngIf="addVisitMed" (click)="addVisitMed=false">remove (-)</button>
</tr>
