<table *ngIf="!empuser" style="width:100%">
  <div class="row mb-3" class="alert
    alert-danger"
    role="alert">
    No User Available
  </div>
</table>
<div *ngIf="empuser">
  <form id="msform">

    <h2 class="fs-title">Infos de sécurité </h2>


    <!--        formgroup       -->

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">user name *</label>
      <div class="col-sm-9"> <input class="form-control" type="text"
          name="username" id="username"
          [(ngModel)]="empuser.username"
          placeholder="user name..." required>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Email *</label>
      <div class="col-sm-9"> <input class="form-control"
          type="email"
          name="email" id="email"
          [(ngModel)]="empuser.email"
          placeholder="Email..." required>
      </div>
    </div>



    <div class="row mb-3">
      <label class="col-sm-3 col-form-label ">type Auth
        *</label>
      <div class="col-sm-9" >
        <div *ngFor="let i of this.authtypeid$" >
        <div class="custom-control custom-radio
          custom-control-inline"
          style="text-align: left;" *ngIf="i.password">
          <input type="radio" class="custom-control-input"
            name="typeAuth"
            id="typeAuth"
            [value]="i.id"
            [(ngModel)]="empuser.authentifications.id" (change)="onChange($event)"
            [checked]="empuser.authentifications.id==i.id"
            required style="width: inherit;margin-right: 10px">
          <label class="custom-control-label" for="typeAuth">Mot de
            passe</label>
        </div>
        <!-- Default inline 2-->
        <div class="custom-control custom-radio
          custom-control-inline"
          style="text-align: left;" *ngIf="i.ldap">
          <input type="radio" class="custom-control-input"
            name="typeAuth"
            [value]="i.id"
            id="typeAuth"
            [checked]="empuser.authentifications.id==i.id"
            [(ngModel)]="empuser.authentifications.id" (change)="onChange($event)"
            required style="width: inherit;margin-right: 10px">
          <label class="custom-control-label" for="typeAuth">LDAP</label>
        </div>
      </div>
    </div>
    </div>

    <div class="row mb-3">
      <legend class="col-sm-3 col-form-label ">Role *</legend>
      <div class="col-sm-9" style="border-style: groove;">
      <div class="custom-control custom-radio
          custom-control-inline"
          style="text-align: left;" *ngFor="let rol of role$; let i= index; ">
        <input class="custom-control-input" type="checkbox" id="rol.id" name="rol.id" [value]="rol.id" [checked]="checkrole(rol.id)" style="width: inherit;margin-right: 10px">
        <label class="custom-control-label" for="rol.id">{{rol.roleName}}</label>
      </div>
      </div>
      </div>

    <div class="row mb-3">
      <legend class="col-sm-3 col-form-label ">privileges *</legend>
      <div class="col-sm-9" style="border-style: groove;">
        <div>
      <div class="custom-control custom-radio
          custom-control-inline"
          style="text-align: left;" *ngFor="let privilege of privileges$; let i=
          index;">
        <input class="custom-control-input" type="checkbox" id="privilege.id" name="privilege.id" [value]="privilege.id" [checked]="checkprev(privilege.id)" style="width: inherit;margin-right: 10px">
        <label class="custom-control-label" for="privilege.id">{{privilege.privName}}</label>
        </div>
        </div>
      </div>
      </div>

    <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label"><strong>enable:</strong></label>
      <div class="form-check form-switch col-sm-9"
        style="padding-top:
        6px"> <input
          class="form-check-input" type="checkbox" name="enabled"
          id="enable" [(ngModel)]="empuser.enabled"
          [checked]="empuser.enabled"> </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-sm-3 col-form-label"><strong>valide:
        </strong></label>
      <div class="form-check form-switch col-sm-9"
        style="padding-top:
        6px;"> <input
          class="form-check-input" type="checkbox" name="valide"
          id="valide" [(ngModel)]="empuser.validity"
          [checked]="empuser.validity"> </div>
    </div>
    <div class="row mb-3" *ngIf="isaddedfailed" class="alert
    alert-danger" role="alert">
    Updating User  failed: {{ errorMessage }}
  </div>

  <div class="row mb-3" *ngIf="submitted" class="alert alert-success">
    <h4>User  was Updated successfully!</h4>
  </div>
    <div class="text-center">
      <button
        type="submit"
        class="submit"(click)="updateUser()">Update </button>
    </div>

  </form>
</div>
