<form id="msform">
  <h2 class="fs-title">Infos des Eaps </h2>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Eap *</label>
    <div class="col-sm-9"> <input class="form-control"
        type="file"
        (change)="handleFileInputeap($event)"
        name="eap" id="eap"
        required>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">date Eap *</label>
    <div class="col-sm-9"> <input class="form-control"
        type="date"
        name="dateEap" id="dateEap"
        [(ngModel)]="element.dateEap"

        required>
    </div>
  </div>


  <div class="form-group">

    <div class="text-center">
      <button
        type="submit"
        class="submit"(click)="updateEap(element)">Update
      </button>
      <button class="btn
      btn-danger" (click)="deleteEap(element.id)">delete (-)</button>

    </div>
  </div>

  <div class="row mb-3" *ngIf="isaddedfailed" class="alert
  alert-danger" role="alert">
  Adding Eap failed: {{ errorMessage }}
</div>

<div class="row mb-3" *ngIf="submitted" class="alert alert-success">
  <h4>Eap was submitted successfully!</h4>
</div>
<div class="row mb-3" *ngIf="isdeletedfailed" class="alert
alert-danger" role="alert">
deleting Eap failed: {{ errorMessage }}
</div>

<div class="row mb-3" *ngIf="isdeleted" class="alert alert-success">
<h4>Eap was deleted successfully!</h4>
</div>
</form>
