<main id="main" class="main">
  <div class="pagetitle">
    <h1>Edit Diplome</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Diplome</li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <form>

      <h4>Diplome</h4>

      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="diplome.title"
          name="title"
          />
      </div>
      <div class="form-group">
        <label for="Spécialite">Spécialité</label>
        <input
          type="text"
          class="form-control"
          id="Spécialite"
          [(ngModel)]="diplome.speciality"
          name="Spécialite"
          />
      </div>

      <div class="form-group">

        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"(click)="editDiplome(diplome)">Mettre à jour
          </i></button>


      </div>



    </form>
  </section>
</main>
