<main id="main" class="main">
  <div class="pagetitle">
    <h1> Diplome</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Diplome</li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Diplome</h5>
    <form   id="msform">

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10"> <input class="form-control" type="text"
                     name="title"
                    id="title"  [(ngModel)]="diplome.title" required>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Spécialité :</label>
                <div class="col-sm-10"> <input class="form-control"
                     type="text" name="specialite"
                    id="specialite"  [(ngModel)]="diplome.speciality" required>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">diplome file</label>
                <div class="col-sm-10"> <input class="form-control"
                     type="file" (change)="handleFileInputdiplomefile($event)"
                    name="diplomesfile" id="diplomesfile"
                     required>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Attribution:</label>
                <div class="col-sm-10"> <input class="form-control" type="text"
                     name="attribution"
                    id="attribution" placeholder="attribution..." required>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Attribution File</label>
                <div class="col-sm-10"> <input class="form-control" type="file"
                     name="Attributionf" (change)="handleFileInputAttributionf($event)"
                    id="Attributionf" placeholder="Attribution..." required>
                </div>
              </div>





        <div class="center">
          <button (click)="updatediplom()"
          type="submit" name="submit" class="submit">Submit</button>
          <button type="reset" name="next" class="reset">reset</button>
  </div>
               <div class="row mb-3" *ngIf="isupdatedfailed" class="alert alert-danger" role="alert">
                Adding Diplome failed: {{ errorMessage }}
              </div>

              <div class="row mb-3" *ngIf="submitted">
                <h4>Diplome was submitted successfully!</h4>
              </div>
    </form>
    </div>
    </div>
  </section>
</main>
