<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Home</span> </a></li>
            <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Users-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-person"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i> </a>
        <ul id="Users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="/adduser"> <i class="bi bi-circle"></i><span>Add Users</span> </a></li>
           <li> <a routerLink="/listusers"> <i class="bi bi-bookmark-plus"></i><span>List Users</span> </a></li>
        </ul>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Employes-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-person"></i><span>Employes</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="Employes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/addemploye"> <i class="bi bi-circle"></i><span>Add Employe</span> </a></li>
         <li> <a routerLink="/listemployes"> <i class="bi bi-bookmark-plus"></i><span>List Employes</span> </a></li>
      </ul>
   </li>
   <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#Formations-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Formations</span><i class="bi bi-chevron-down ms-auto"></i> </a>
    <ul id="Formations-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

       <li> <a routerLink="/add-formation"> <i class="bi bi-circle"></i><span>Add Formations</span> </a></li>
       <li> <a routerLink="/list-formation"> <i class="bi bi-bookmark-plus"></i><span>List Formations</span> </a></li>

    </ul>
 </li>
 <li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#Contrats-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Contrats</span><i class="bi bi-chevron-down ms-auto"></i> </a>
  <ul id="Contrats-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
     <li> <a routerLink="/addcontrat"> <i class="bi bi-circle"></i><span>Add Contrats</span> </a></li>
     <li> <a routerLink="/listcontrat"> <i class="bi bi-bookmark-plus"></i><span>List Contrats</span> </a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#Diplomes-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Diplomes</span><i class="bi bi-chevron-down ms-auto"></i> </a>
  <ul id="Diplomes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
     <li> <a routerLink="/adddiplome"> <i class="bi bi-circle"></i><span>Add Diplomes</span> </a></li>
     <li> <a routerLink="/listdiplome"> <i class="bi bi-bookmark-plus"></i><span>List Diplomes</span> </a></li>
  </ul>
</li>
       <li class="nav-heading">Pages</li>

    </ul>
 </aside>
