<form id="msform">
  <h2 class="fs-title">Infos des Formations </h2>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Titre *</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="element.title"
        name="title"
        required
        />
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"> Description *</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="element.description"
        name="description"
        required
        />
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">periodique *</label>
    <div class="form-check form-check-inline">
      <div class="custom-control custom-radio
        custom-control-inline">
        <input type="radio" class="custom-control-input"
          name="periodec"
          id="periodec" value="true"
          (change)="onChangeperiodiqu($event)"
          [checked]="element.periodec">
        <label class="custom-control-label" for="periodec">Oui</label>
      </div>
      <!-- Default inline 2-->
      <div class="custom-control custom-radio
        custom-control-inline">
        <input type="radio" class="custom-control-input"
          name="periodec"
          id="periodec" value="false"
          (change)="onChangeperiodiqu($event)"
          [checked]="!element.periodec" required>
        <label class="custom-control-label" for="periodec">Non</label>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngFor="let d of
    element.employeeFormationList">
    <label class="col-sm-3 col-form-label">date de
      Renouvellement</label>
    <div class="col-sm-9"> <input class="form-control"
        type="date"
        locale="en-US"
        [value]="d.formationRenewalDate"
        [(ngModel)]="d.formationRenewalDate"
        name="dateRenouvellement" id="dateRenouvellement"
        placeholder="date de Renouvellement...">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">formation File *</label>
    <div class="col-sm-9"> <input class="form-control"
        type="file"
        name="formationFile"
        (change)="handleFileInputformationFile($event)"
        id="formationFile" placeholder="formation File..."
        required>
    </div>
  </div>
  <div *ngFor="let h of element.habilitationList">
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">titr habilitation *</label>
      <div class="col-sm-9"><input
          type="text"
          class="form-control"
          id="habilitation"
          [(ngModel)]="h.title"
          name="habilitation"
          required
          />
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">date Habilitation *</label>
      <div class="col-sm-9"> <input class="form-control"
          type="date"
          name="dateHabilitation"
          locale="en-US"
          [(ngModel)]="h.habilitationDate"
          [value]="h.habilitationDate"
          id="dateHabilitation" placeholder="date
          Habilitation..."
          required>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">date ReHabilitation
        *</label>
      <div class="col-sm-9"> <input class="form-control"
          type="date"
          name="dateRenHabi"
          [(ngModel)]="h.habilitationRenewalDate"
          [value]="h.habilitationRenewalDate"
          id="dateRenHabi" placeholder="date ReHabilitation..."
          required>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">habilitation File *</label>
      <div class="col-sm-9"> <input class="form-control"
          type="file"
          (change)="handleFileInputhabilitationFile($event)"
          name="habilitationFile"
          id="habilitationFile" placeholder="habilitation
          File..."
          required>
      </div>
    </div>
  </div>
  <div class="form-group">

    <div class="text-center">
      <button
        type="submit"
        class="submit"(click)="editFormation(element)">Update
      </button>
      <button class="btn
        btn-danger" (click)="deleteFormation(element.id)">delete (-)</button>
    </div>
    <div class="row mb-3" *ngIf="isaddedfailed" class="alert
      alert-danger" role="alert">
      Updating Formation failed: {{ errorMessage }}
    </div>

    <div class="row mb-3" *ngIf="submitted" class="alert alert-success">
      <h4>Formation was Updated successfully!</h4>
    </div>
    <div class="row mb-3" *ngIf="isdeletedfailed" class="alert
      alert-danger" role="alert">
      Deleting Formation failed: {{ errorMessage }}
    </div>

    <div class="row mb-3" *ngIf="deleted" class="alert alert-success">
      <h4>Formation was Deleted successfully!</h4>
    </div>
  </div>

</form>
