<table style="width:100%" *ngIf="Attributions$.length!=0">
  <div *ngIf="Attributions$.length==0">
    <tr>
      <div class="row mb-3" class="alert
        alert-danger"
        role="alert">
        No Attributions Available
      </div>
    </tr>
  </div>
  <tr *ngFor="let element of Attributions$;let attr as index">
    <td>
   <app-details-update-attribution [element]="element"></app-details-update-attribution>
  </td>
  </tr>

</table>
<table *ngIf="Attributions$.length==0" style="width:100%">
  <td><div class=" col-sm-9" class="alert
      alert-danger"
      role="alert">
      No Attributions Available
    </div></td>
</table>
<table style="width:100%">
  <td *ngIf="addatrribution">
      <app-deatils-add-attribution [currentEmployee]="currentEmployee"></app-deatils-add-attribution>
  </td>
</table>
<tr> <button *ngIf="!addatrribution" (click)="addatrribution=true"
    class="add">add (+)</button>
    <tr *ngIf="addatrribution"> <td class="text-center"> <button (click)="addatrribution=false" class="btn btn-danger">remove (-)</button></td>
    </tr>
