


            <table style="width:100%" *ngIf="contras$.length!=0">

              <tr *ngFor="let element of contras$" style="width:100%">
                <td style="width:100%">
                  <br>
                  <form id="msform">
                    <h2 class="fs-title">Infos Contrats </h2>
                    <div class="form-group">
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-3
                          col-form-label">Date
                          Debut
                          Contrat *</label>
                          <div class="col-sm-9"> <input type="date"
                            name="DateDebutContrat"
                            id="DateDebutContrat"
                            class="form-control"
                            [(ngModel)]="element.startDate"
                            [value]="element.startDate"
                            required>
                        </div>

                      </div>
                      <div class="row mb-3">
                        <legend class="col-form-label col-sm-3 pt-0">type
                          Contrat *</legend>
                        <div class="col-sm-9">
                          <select class="form-select"
                            name="id" id="id" aria-label="Default
                            select example" required
                            [(ngModel)]="element.contractType.id">

                            <option *ngFor="let typcont of typecontrat$; let i=
                              index"
                              [value]="typcont.id" [selected]="typcont.id==element.contractType.id">{{typcont.title}}</option>
                          </select>
                        </div>
                      </div>

                      <div *ngIf="typcontid!=12" class="row mb-3">
                        <label for="DateFinContrat" class="col-sm-3
                          col-form-label">Date
                          Fin
                          Contrat</label>
                        <div class="col-sm-9"> <input type="date"
                            name="DateFinContrat"
                            id="DateFinContrat"
                            class="form-control"
                            [(ngModel)]="element.endDate"
                            [value]="element.endDate"
                            >
                        </div>
                      </div>

                      <div *ngIf="typcontid==3" class="row mb-3">
                        <label for="inputColor" class="col-sm-3 col-form-label">frequence</label>
                        <div class="col-sm-9">
                          <select class="form-select" [(ngModel)]="element.frequence"
                            name="frequence" id="frequence"
                            aria-label="Default select example"
                            [required]="typcontid==3">
                            <option value="-1" disabled selected>Choisir de la
                              liste</option>
                            <option *ngFor="let frequ of frequence$; let i=
                              index"
                              [value]="frequ.id">{{frequ.description}}</option>
                          </select>
                        </div>
                      </div>



                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Remise de
                          matériel *</label>
                        <div class="col-sm-9"> <input multiple
                            class="form-control"
                            type="file"
                            (change)="handleFileInputremisemateriel($event)"
                            name="remisemateriel"
                            id="remisemateriel" required>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">contrat
                          Impartialite *</label>
                        <div class="col-sm-9"> <input class="form-control"
                            type="file"
                            (change)="handleFileInputfileTocontratImpartialite($event)"
                            name="contratImpartialite"
                            id="contratImpartialite"
                            required>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">contrat
                          Confidentialite *</label>
                        <div class="col-sm-9"> <input class="form-control"
                            type="file"
                            (change)="handleFileInputcontratConfidentialite($event)"
                            name="contratConfidentialite"
                            id="contratConfidentialite"
                            required>
                        </div>
                      </div>


                      <div class="text-center">
                        <button
                          type="submit"
                          class="submit"(click)="editContrat(element)">Update
                        </button>
                        <button
                        type="submit"
                        class="btn btn-danger"(click)="deleteContrat(element.id)">Delete
                      </button>
                      </div>

                      <div class="row mb-3" *ngIf="isupdatedfailed" class="alert
                        alert-danger" role="alert">
                        Adding Contrat failed: {{ errorMessage }}
                      </div>

                      <div class="row mb-3" *ngIf="submitted">
                        <h4>Contrat was submitted successfully!</h4>
                      </div>
                    </div>

                  </form>
                </td>
              </tr>


            </table>
            <table *ngIf="contras$.length==0">
              <td><div class=" col-sm-9" class="alert
                  alert-danger"
                  role="alert">
                  No contras Available
                </div></td>
            </table>
            <table style="width:100%">
            <tr *ngIf="addcontrat" >
              <td>
             <app-deatils-add-contrat></app-deatils-add-contrat>
            </td>
            </tr>
            <tr *ngIf="!addcontrat"><td> <button (click)="addcontrat=true" class="add">add (+)</button></td>
              <tr *ngIf="addcontrat"> <td class="text-center"> <button (click)="addcontrat=false" class="btn btn-danger">remove (-)</button></td>
            </tr>
          </table>

