<table *ngIf="diploms$.length!=0"  style="width:100%">

  <tr *ngFor="let element of diploms$;let dip as index">
    <td>
    <app-details-update-diplome [element]="element"></app-details-update-diplome>
  </td>
  </tr>

</table>
<table *ngIf="diploms$.length==0" style="width:100%">
  <tr>
    <div class="row mb-3" class="alert
      alert-danger"
      role="alert">
      No Diploms Available
    </div>
  </tr>
</table>
<table style="width:100%">
  <td *ngIf="adddimplome">
    <app-details-add-diplome [currentEmployee]="currentEmployee"></app-details-add-diplome>
  </td>
</table>
<tr><button *ngIf="!adddimplome" (click)="adddimplome=true" class="add">add
    (+)</button>
    <button *ngIf="adddimplome" (click)="adddimplome=false" class="btn
          btn-danger">remove (-)</button></tr>
