<main id="main" class="main">
  <div class="pagetitle">
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row" style=" justify-content: center;">
      <div class="col-lg-8" >
        <div class="row" >
          <div class="col-xxl-4 col-md-12">
            <div class="card info-card sales-card">
              <a href="/employe-list">
                <div routerlink="/employe-list" class="card-body">
                  <h5 class="card-title">Employes <span></span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex
                      align-items-center justify-content-center"><i
                        class="bi bi-people"></i></div>
                    <div class="ps-3">

                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xxl-4 col-md-12">
            <div class="card info-card revenue-card">
              <a href="/employe-list">
                <div class="card-body">
                  <h5 class="card-title">Contrats </h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex
                      align-items-center justify-content-center"><i
                        class="bi bi-currency-dollar"></i></div>
                    <div class="ps-3">

                      <span class="text-success small pt-1 fw-bold"></span>
                      <span
                        class="text-muted small pt-2 ps-1"></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <a href="/listusers">
                <div class="card-body">
                  <h5 class="card-title">Users <span></span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex
                      align-items-center justify-content-center"><i
                        class="bi bi-people"></i></div>
                    <div class="ps-3">

                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <a href="/listusers">
                <div class="card-body">
                  <h5 class="card-title">Formation <span></span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex
                      align-items-center justify-content-center"><i
                        class="bi bi-award"></i></div>
                    <div class="ps-3">

                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <a href="/listusers">
                <div class="card-body">
                  <h5 class="card-title">Diplomes <span></span></h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex
                      align-items-center justify-content-center"><i
                        class="bi bi-bookmarks"></i></div>
                    <div class="ps-3">

                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
</main>
