<main id="main" class="main">
  <div class="pagetitle">
    <h1>Contracts List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Contracts</li>
        <li class="breadcrumb-item active">List</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="list row">

      <div class="col-md-6">
        <h4>Contracts List</h4>

        <ul class="">
          <li
            class="list-group-item"
            *ngFor="let contrat of contratList; let i= index"
            [class.active]="i == currentIndex"
            (click)="setActivecontrat(contrat, i)">
            <div class="container">
              <div class="row ">
                <div class="col">
                  <span> {{ contrat.contractType }}</span>
                </div>
                <div class="col">
                  <span> {{ contrat.startDate }}</span>
                </div>
                <div class="col">
                  <span> {{ contrat.endDate }}</span>
                </div>
                <div class="col-md-auto">


                  <a routerLink="/contratdetails/{{contrat.id }}"> <i
                      class="bi bi-file-diff-fill"></i><span>EDIT</span> </a>
                </div>
                <div class="col col-lg-2" >
                  <a  (click)="deletecontrat(contrat.id)" routerLink="/contrat-list" >
                  <i class="bi bi-trash-fill"></i><span   class="" >Delete</span>
                </a>
                </div>
              </div>
            </div>
          </li>
        </ul>


      </div>

      <div class="col-md-6">
       <!-- <app-edit-contrat
          [viewMode]="true"
          [currentContrat]="currentContrat"></app-edit-contrat>-->
      </div>
    </div>
  </section>
</main>
